<p-toast></p-toast>

<p-card>
  <p-confirmPopup></p-confirmPopup>
  <ng-template pTemplate="header">
    <div
      class="p-4 pb-0 flex flex-column gap-3 md:flex-row lg:flex-row justify-content-between align-items-center"
    >
      <h2 class="m-0">Anouncements</h2>
      <a
        [routerLink]="['..', 'anouncements', 'new']"
        class="no-underline"
        pButton
        label="New Anouncement"
        icon="pi pi-pencil"
      ></a>
    </div>
  </ng-template>
  <p-table [value]="anouncementsObj.anouncements" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>id</th>
        <th>Title</th>
        <th>Uploaded At</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-anouncement>
      <tr>
        <td>{{ anouncement.id }}</td>
        <td>
          <a
            class="text-primary no-underline"
            [routerLink]="['/feed/anouncements', anouncement.id]"
            >{{ anouncement.title }}</a
          >
        </td>
        <td>{{ anouncement.uploadDate | date }}</td>
        <td class="flex gap-3">
          <a
            [routerLink]="['..', 'anouncements', 'edit', anouncement.id]"
            icon="pi pi-pencil"
            label="Update"
            class="p-button-warning no-underline"
            pButton
          ></a>
          <button
            icon="pi pi-trash"
            label="Delete"
            class="p-button-danger"
            pButton
            (click)="onDeleteButtonClick($event, anouncement.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    #paginator1
    (onPageChange)="onPageChange($event)"
    [rows]="10"
    [pageLinkSize]="2"
    [totalRecords]="anouncementsObj.total"
  ></p-paginator>
</p-card>
